[Unit]
Description=Garden Irrigation System
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Garden-Irrigation-System
Environment=DISPLAY=:0
Environment=HOME=/home/pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/bin/sleep 15
ExecStart=/home/pi/Garden-Irrigation-System/myenv/bin/python /home/pi/Garden-Irrigation-System/Interface_Final.py
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target